<br>
<div div style="text-align:center">
<h2>
数年前、火事により家族を失った男：篠田幸太郎。<br>
彼は亡くなった妻から「お人好し」と呼ばれていた。<br>
その「お人好し」加減たるや<br>
「道に迷っている人を見かければ、一緒になって地図を見て迷子になった」<br>
「電車で忘れ物をした人を追いかけてしまって打ち合わせに遅刻した」りするほど。<br>
<br>
そんな彼だからこそ、目の前で泣いている一人の少女を放っておくことが出来なかった。<br>
<br>
少女の名は瑠璃といい、彼女は追ってから逃げている最中とのことだ。<br>
幸太郎は事情を聞き、暫くの間自宅に匿うことを約束する。<br>
<br>
これは、そんなお人好しな中年と少女の物語。
</h2>
</div>