<br>
<div div style="text-align:center">
<h1>Character</h1>

<h2>篠田幸太郎</h2><br>
数年前に死別したかつての家族の思い出が残る家で孤独に過ごしている男性。<br>
自宅への帰り道で、泣きじゃくる瑠璃と出会う。<br>
<br>
何者かから追われている瑠璃の事情を聴き、匿う。<br>
<br>

<h2>瑠璃</h2>
幸太郎が自宅への帰り道で出会った少女<br>
何者かから逃げており、酷く怯えている。<br>
<br>
幸太郎に匿われ、生活していく中で少しづつ心を開いていくが―――？<br>

<h2></h2>
</div>