<div div style="text-align:center">

<h1>「瑠璃の泪」は以下のWebサイトよりダウンロードできます</h1>

<h1><%= link_to "フリーゲーム夢現", "https://freegame-mugen.jp/adventure/game_6784.html"%></h1>

<h1><%= link_to "ふりーむ", "" %></h1>

<h1><%= link_to "ゲームリンクス制作物置き場", "https://ux.getuploader.com/GAMELINKS001/download/70" %></h1>