<br><br>

<div div style="text-align:center">

    <h1>瑠璃の泪 / Tear of Lapislazuli</h1>

<br><br>

    <h1>家族を失った孤独な男性と、少女の交流―――</h1>

<br><br>

    <%= video_tag('pv.mp4', :controls => true, :autoplay => true) %>
</div>