<br>
<div div style="text-align:center">

<h1><%= link_to "「瑠璃の泪」のソースコード公開先", "https://github.com/S-H-GAMELINKS/Tear.of.Lapislazuli" %></h1>

<h1><%= link_to "Creatodon", "https://gamelinks007.net/about/more" %></h1>

<h1><%= link_to "ゲームリンクス", "https://gamelinksweb.herokuapp.com" %></h1>

</div>